* {
	color: #0f0;
	background: #010;
}
html {
	display: block;
	max-width: 900px;
}
body {
	padding-top: 5%;
	font-family: 'monospace', sans-serif;
	font-weight: normal !important;
	line-height: 1.6;
}
section {
	max-width: 100%;
	text-decoration: none;
}
a {
	text-decoration: none;
}
a:hover {
	color: #0b0;
	text-decoration: underline;
}
