* {
	color: #0f0;
	background: #010;
}
body {
	font-family: 'monospace', sans-serif;
	font-weight: normal !important;
	line-height: 1.6;
	margin:1em auto;
	max-width:40em;
	padding:0 .62em;
}
a {
	text-decoration: none;
}
a:hover {
	color: #0b0;
	text-decoration: underline;
}
pre {
	line-height: 1;
	font-size: 90%;
}
